.c-header-title{
    // position: absolute;
    // inset: 0;
    // margin: auto;

    text-align: center;
    vertical-align: middle;
    position: absolute;
    top: 40%;
    left: 0;
    right: 0;
}